:root {
  --background-image: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --title-shadow-color: #FF0070;
  --section-title-color: #FF0070;
  --decor-border-color: #FF0070;
  --button-color: #FF0070;
  --button-color-hover: rgba(255, 0, 112, 0.4);
}
